<div class = "workflow-list" *ngIf="workflows$ | async as workflows">
  <h2>Workflows (Total: {{workflows.length}})</h2>
  <div 
  class="workflow-item"
  *ngFor="let workflow of workflows;
   trackBy: trackByWorkflowId"
 >

  <a class="workflow-link"
   [routerLink]="[workflow.id]">

    <div> 
      <strong> ID: </strong> {{workflow.id}} 
    </div>
    <div>
      <strong> Title: </strong> {{workflow.title}} 
    </div>
    <div>
      <strong> Status: </strong> {{workflow.status}} 
    </div>
    <div>
      <strong> Date: </strong> {{workflow.date}} 
    </div>

  </a>
  
  </div>
</div>